body {
	padding: 0;
	margin: 0;
	background-color: #E1E8ED;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@ HEADER @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

header {
	float: right;
	width: 100%;
	text-align: left;
	margin: 0;
	padding: 0;
	background-color: #292F33;
	color: white;
}

header p {
	float: right;
	margin: 0% 2% 0.5% 0%;
	font-size: 1.2vw;
}

header img {
	width: 8%;
	vertical-align: middle;
}

header span {
	width: 80%;
	font-size: 3.5vw;
}

header div {
	width: 90%;
	display: inline-block;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@ LATERAL BAR  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

aside {
	width: 10%;
	margin: 10% 0% 10% 0%;
	text-align: left;
	float: left;
	background-color: #66757F;
}

aside a {
	line-height: 200%;
	display: block;
	font-size: 1.3vw;
	text-decoration: none;
	color: white;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@ FOOTER @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

footer {
	width: 100%;
	clear: both;
	text-align: center;
	background-color: #292F33;
	color: white;
}

footer div {
	display: inline-block;
	margin: 1% 8% 1% 8%;
	width: 15%;
	font-size: 0.8vw;
}

footer div img {
	width: 14%;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@ MAIN CONTENT  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

#content {
	text-align: center;
	width: 90%;
	float: right;
	margin: 2% 0% 5% 0%;
}

.statistic {
	float: right;
	width: 30%;
}

.map {
	width: 60%;
	float: right;
}

.statistic,
form div {
	margin: 2% 0% 2% 0%;
	text-align: center;
	font-size: 1vw;
	vertical-align: middle;
}

form {
	width: 30%;
	margin: 2% auto;
	border-style: solid;
	border-width: medium;
}

form span {
	font-size: 0.7vw;
}

form #submit {
	margin-bottom: 5%;
}

#login-form {
	margin-bottom: 8%;
}

#register-form {
	margin-bottom: 6%;
}

.formname {
	font-size: 2vw;
}

.statistic div,
form label {
	display: inline-block;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ SEAT ATTRIBUTES @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

.seat {
	display: inline-block;
	border-style: solid;
	border-width: thin;
	margin: 0% 0.5% 0.5% 0%;
	width: 5%;
}

.seat img {
	width: 70%;
}

.seat span {
	margin: 0 auto;
	font-size: 0.8vw;
}

.clickable:hover {
	opacity: 0.5;
}

.available {
	background-color: #96ceb4;
}

.unavailable {
	background-color: #ff6f69;
}

.clickable:hover {
	cursor: pointer !important;
}

.reserved {
	background-color: #f2ae72;
}

.myreserved {
	background-color: #ffeead;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ PROGRESS BAR @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

progress {
	background-color: black;
}

progress::-webkit-progress-bar {
	background: black;
}

.ppurchased::-moz-progress-bar {
	background: #ff6f69;
}

.ppurchased::-webkit-progress-value {
	background: #ff6f69;
}

.pavailable::-moz-progress-bar {
	background: #96ceb4;
}

.pavailable::-webkit-progress-value {
	background: #96ceb4;
}

.preserved::-moz-progress-bar {
	background: #f2ae72;
}

.preserved::-webkit-progress-value {
	background: #f2ae72;
}

.pmyreserved::-moz-progress-bar {
	background: #ffeead;
}

.pmyreserved::-webkit-progress-value {
	background: #ffeead;
}

.ptotal::-moz-progress-bar {
	background: #034f84;
}

.ptotal::-webkit-progress-value {
	background: #034f84;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ MESSAGE BOX @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.success {
	background-color: #96ceb4;
}

.error {
	background-color: #ff6f69;
}

.error,
.success {
	width: 50%;
	line-height: 200%;
	font-size: 1vw;
	border-color: black;
	color: black;
	margin: 0 auto;
	text-align: center;
}
