<!--Login Form-->
<span class='formname'>Login Form</span>
<form name="login-form" id="login-form" method="post" action="" autocomplete="on">
	<div>
		<label for="email">Username</label><br/>
		<input type="email" name="email" id="email" placeholder="username1@gmail.com" required autocomplete="on"><br/>	
	</div>
	<div>
		<label for="password">Password</label><br/>
		<input type="password" name="password" id="password" placeholder="****" required autocomplete="off"><br/>
	</div>
	<div>
		<label for="remember">Remember me</label><br/>
		<input type="checkbox" name='remember' id="remember">
	</div>
	<input type="button" name="submit" value="Login" id='submit'/>
</form>
